In [1]:
#Import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dictionary_fp = 'Data/dictionary.csv'
summer_olympic_medalists_fp = 'Data/Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.csv'
winter_fp = 'Data/winter.csv'

In [3]:
dictionary_data = pd.read_csv(dictionary_fp)

In [4]:
dictionary_data.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [10]:
# This file is delimited by spaces and not commas
# summer_medalists = pd.read_csv(summer_olympic_medalists_fp)
# summer_medalists.head()

winter_olympics = pd.read_csv(winter_fp)
winter_olympics.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [28]:
wint_oly = winter_olympics.set_index(winter_olympics['Year'])
usa_olympic_df = wint_oly[wint_oly.Country == "USA"]
usa_olympic_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
Year,,,,,,,,,
1924,1924,Chamonix,Ice Hockey,Ice Hockey,"ABEL, Clarence John",USA,Men,Ice Hockey,Silver
1924,1924,Chamonix,Ice Hockey,Ice Hockey,"DRURY, Herbert L.",USA,Men,Ice Hockey,Silver
1924,1924,Chamonix,Ice Hockey,Ice Hockey,"GERAN, N.",USA,Men,Ice Hockey,Silver
1924,1924,Chamonix,Ice Hockey,Ice Hockey,"LACROIX, Alphonse",USA,Men,Ice Hockey,Silver
1924,1924,Chamonix,Ice Hockey,Ice Hockey,"LANGLEY, John Arthur",USA,Men,Ice Hockey,Silver

In [ ]:
for index, row in wint_ol