In [195]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import seaborn

In [196]:
#read csv
medals = "../TM Group Project/olympic_medalists.csv"
medals_df = pd.read_csv("olympicsall.csv", encoding = "ISO-8859-1")

In [197]:
medals_df.head()

,Year,Season,City,Sport,Discipline,Athlete,Country,Population,GDP per Capita,Gender,Event,Medal
0,1896,Summer,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,9844686.0,12363.54,Men,100M Freestyle,Gold
1,1896,Summer,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",Austria,8611088.0,43774.99,Men,100M Freestyle,Silver
2,1896,Summer,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",Greece,10823732.0,18002.23,Men,100M Freestyle For Sailors,Bronze
3,1896,Summer,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",Greece,10823732.0,18002.23,Men,100M Freestyle For Sailors,Gold
4,1896,Summer,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",Greece,10823732.0,18002.23,Men,100M Freestyle For Sailors,Silver

In [198]:
#countries with the most medals
country_count = medals_df["Country"].value_counts()
country_count.head()

United States     5238
United Kingdom    1799
Germany           1665
France            1548
Italy             1488
Name: Country, dtype: int64

In [216]:
#gender analysis by year
grouped_gender_analysis = medals_df.groupby(['Gender','Year'])
gender_analysis = pd.DataFrame(grouped_gender_analysis["Medal"].count())
gender_analysis

             Medal
Gender Year
Men    1896    151
       1900    501
       1904    458
       1908    789
       1912    855
       1920   1255
       1924    945
       1928    698
       1932    665
       1936    890
       1948    843
       1952    868
       1956    862
       1960    845
       1964    959
       1968    972
       1972   1102
       1976   1083
       1980   1125
       1984   1141
       1988   1212
       1992   1331
       1994    232
       1996   1082
       1998    258
       2000   1126
       2002    273
       2004   1099
       2006    299
       2008   1110
...            ...
Women  1908     15
       1912     30
       1920     43
       1924     57
       1928    101
       1932     66
       1936     93
       1948    111
       1952    157
       1956    173
       1960    184
       1964    236
       1968    258
       1972    283
       1976    432
       1980    480
       1984    540
       1988    598
       1992    699
       1994    111
       1996    777
       1998    189
       2000    889
       2002    208
       2004    899
       2006    232
       2008    932
       2010    233
       2012    924
       2014    272

[65 rows x 1 columns]

In [ ]:
bar_plot = medals_df.plot(medals_df['Year'], kind = 'bar', Legend=True)
bar_plot.set_xlabel('Year')
bar_plot.set_ylabel('Medals')
plt.show()

In [ ]:
x,y = np.loadtext

In [202]:
x_axis = np.arange(len(gender_analysis)
plt.bar(x_axis, Medals, color="b", align="edge")
tick_locations = [value+0.4 for value in x_axis]
plt.xticks(tick_locations, Medal)
plt.xlim(10, len(x_axis))
plt.ylim(0, max(Year)+0.4)

SyntaxError: invalid syntax (<ipython-input-202-162ed7decf59>, line 2)

In [ ]:
 # Male vs Female Plot
men= medals_df[medals_df["Gender"]== "Men"]
women= medals_df[medals_df["Gender"]== "Women"]

men_year= men.groupby(["Gender"]).count()["Year"]
men_medal= men.groupby(["Gender"]).count()["Medal"]

women_medal= women.groupby(["Gender"]).count()["Medal"]
women_year= women.groupby(["Gender"]).count()["Year"]

In [ ]:
plt.scatter(men_year, men_medal,facecolors="red", edgecolor="black", linewidths=1, marker="o")
plt.ylim 
plt.show()

In [ ]:
#x_axis = medals('Year')
#y_axis = medals_df("Medal")
#plt.scatter(x_axis, y_axis, marker="o", facecolors="red", edgecolors="black",
           # s=x_axis, alpha=0.75)
#plt.show()

In [ ]:
#total events per country
event_group= medals_df[[]]
event_group
#event_count_analysis= event_group.count()
#event_count_analysis

In [217]:
#medal count per country
medal_count_analysis = medals_df.groupby(['Country','Discipline'])
medal_count = pd.DataFrame(medal_count_analysis["Medal"].count())
medal_count

                                     Medal
Country         Discipline
Afghanistan     Taekwondo                2
Algeria         Athletics                7
                Boxing                   6
                Judo                     2
Argentina       Athletics                5
                Basketball              24
                Boxing                  24
                Cycling Track            2
                Eventing                 1
                Fencing                  5
                Football                72
                Hockey                  64
                Judo                     1
                Polo                    10
                Rowing                   6
                Sailing                 20
                Shooting                 1
                Swimming                 3
                Taekwondo                1
                Tennis                   6
                Volleyball              12
                Weightlifting            2
Armenia         Boxing                   1
                Weightlifting            4
                Wrestling Free.          1
                Wrestling Freestyle      2
                Wrestling Gre-R          3
Australia       Alpine Skiing            1
                Archery                  2
                Athletics               84
...                                    ...
United States   Wrestling Free.        110
                Wrestling Freestyle      4
                Wrestling Gre-R         15
Uruguay         Basketball              24
                Boxing                   1
                Cycling Track            1
                Football                44
                Rowing                   6
Uzbekistan      Artistic G.              1
                Boxing                   7
                Freestyle Skiing         1
                Judo                     4
                Trampoline               1
                Wrestling Free.          5
                Wrestling Freestyle      1
                Wrestling Gre-R          1
Venezuela       Athletics                1
                Boxing                   5
                Fencing                  1
                Shooting                 1
                Swimming                 1
                Taekwondo                2
                Weightlifting            1
Vietnam         Taekwondo                1
                Weightlifting            1
Virgin Islands* Sailing                  1
Zambia          Athletics                1
                Boxing                   1
Zimbabwe        Hockey                  16
                Swimming                 7

[1355 rows x 1 columns]

In [218]:
#medal count per country
sport = medals_df.groupby(['Country','Sport'])
sport_analysis = pd.DataFrame(sport["Medal"].count())
sport_analysis

                               Medal
Country         Sport
Afghanistan     Taekwondo          2
Algeria         Athletics          7
                Boxing             6
                Judo               2
Argentina       Aquatics           3
                Athletics          5
                Basketball        24
                Boxing            24
                Cycling            2
                Equestrian         1
                Fencing            5
                Football          72
                Hockey            64
                Judo               1
                Polo              10
                Rowing             6
                Sailing           20
                Shooting           1
                Taekwondo          1
                Tennis             6
                Volleyball        12
                Weightlifting      2
Armenia         Boxing             1
                Weightlifting      4
                Wrestling          6
Australia       Aquatics         400
                Archery            2
                Athletics         84
                Baseball          24
                Basketball        60
...                              ...
United States   Tennis            54
                Triathlon          1
                Tug of War        15
                Volleyball       114
                Weightlifting     43
                Wrestling        129
Uruguay         Basketball        24
                Boxing             1
                Cycling            1
                Football          44
                Rowing             6
Uzbekistan      Boxing             7
                Gymnastics         2
                Judo               4
                Skiing             1
                Wrestling          7
Venezuela       Aquatics           1
                Athletics          1
                Boxing             5
                Fencing            1
                Shooting           1
                Taekwondo          2
                Weightlifting      1
Vietnam         Taekwondo          1
                Weightlifting      1
Virgin Islands* Sailing            1
Zambia          Athletics          1
                Boxing             1
Zimbabwe        Aquatics           7
                Hockey            16

[1031 rows x 1 columns]